h2.font-size-40{
    font-size: 40px !important;
}
.longform figure.two-column.col h3:hover,
.longform h3 a,
.longform li:before,
.longform p a {
    color: #b11313;
}
.redLink {
    color: #b11313 !important;
}
#wuft-banner #wuft-banner-header .menu-link.active-chapter,
#wuft-banner #wuft-banner-header .menu-link:hover,
.longform p a:hover:after {
    border-top-color: #b11313 !important;
}
.pikto-canvas-wrap h1,
.pikto-canvas-wrap h2,
.pikto-canvas-wrap h3,
.pikto-canvas-wrap h4,
.pikto-canvas-wrap h5,
.pikto-canvas-wrap h6,
.pikto-canvas-wrap p,
.pikto-canvas-wrap span{
    margin: 0%;
    font-style: italic;
}
.pikto-obj-link {
    display: none !important;
}
